<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../0partials/01head'); -%>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <%- include('../0partials/05top_menu'); -%>
            <%- include('../0partials/10left_menu'); -%>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Crawling Tasks <small>Links</small>
                        </h1>
                        
                        <ol class="breadcrumb">
                          <li>Crawl Links</li>
                          <li><a href="/admin/crawllinks/tasks">Crawling Tasks</a></li>
                        </ol>

                        <br><br>
                        Select one of those methods to extract content links.
                        
                        <br><br>
                        Crawl methods:
                        <ol>
                            <li><a href="/admin/crawllinks/tasksiteration">Iterate-Pagination Method</a> - iterate through pagination links</li>
                            <li><a href="/admin/crawllinks/tasksclick">Click-Pagination Method</a> - simulate click on pagination link (made in CasperJS)</li>
                            <li><a href="/admin/crawllinks/taskscustom">Custom crawl scripts (plugins)</a> - create custom CasperJS script for crawling purposes (authentication, scroll, ...etc simulations in CasperJS)</li>
                        </ol>

                    </div>
                </div>
                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    


<script>

$(document).ready(function(){
 //$("input[name='first_name']").focus();
 $("*").tooltip();

});
</script>
</body>

</html>
