<!doctype html> 
<html lang="en"> 
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
      <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
      <!--[if lt IE 9]>
          <script src="/javascriptss/ie/html5shiv.min.js"></script>
          <script src="/javascriptss/ie/respond.min.js"></script>
      <![endif]-->
    <title>Find Ads</title>
    <meta name="description" content="<%= desc %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="author" content="AdAm">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <link rel="icon" href="/img/favicon.ico" type="image/ico">

    <!-- bootstrap --> 
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">

    <!-- jquery must be loaded before bootstrap.min.js --> 
    <script src="/javascripts/jquery/sys/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap-tab.js"></script>

    <!-- fonts -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>

<header class="container">

    <!-- top navbar -->
    <nav class="navbar navbar-default" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="index.html" class="navbar-brand ">
                    <img src="img/find-ads-spider.png" alt="Find Ads Bot" width="120" height="60" class="img-responsive hidden-xs">
                    <span>
                        <strong>find - ads</strong>
                        <br><small class="hidden-xs">Our spider collect ads for you !</small>
                    </span>
                </a>

            </div>

            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right visible-xs">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="http://www.adsuu.com/advert/post.php" target="_blank">Post Free Ads</a></li>
                </ul>

                <div class="nav navbar-nav navbar-right hidden-xs">
                    <div class="row">
                        <div class="pull-right">
                            <a href="#">Home</a> &middot;
                            <a href="#">Search</a> &middot;
                            <a href="#">Categories</a> &middot;
                            <a href="#">Services</a> &middot;
                            <a href="http://www.adsuu.com/advert/post.php" target="_blank">Post Free Ads</a>
                        </div>  
                    </div>
                </div>

            </div>

    </nav>
    <!-- top navbar end -->


</header>

<div class="clearfix">&nbsp;</div>
<br><br><br>

<main class="container">

<!-- breadcrumb -->
<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Vehicles</a></li>
            <li class="active">Cars</li>
            <li class="active">4,699 results for <strong>"Cars"</strong> in London</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->

<div class="row">
    <section class="col-sm-8 pull- listings">

        <!-- listing info -->
        <div class="row listing-row" style="margin-top: -10px;">
            <div class="pull-left">
                <strong>Today, Saturday 14th September</strong>
            </div>
            <div class="pull-right">
                <span style="">Sort by:&nbsp;&nbsp;&nbsp;</span>   
                <a href="#"  data-toggle="tooltip" data-placement="top" title="Sort from newest to oldest"> Date <i class="fa fa-chevron-up"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Sort from lowest price to highest price"> Price <i class="fa fa-chevron-down"></i></a>
            </div>
        </div>
        <!-- listing info end -->

        <!-- first premium ad -->
        <div class="row premium listing-row">                                                                            
            <div class="ribbon-wrapper-red"><div class="ribbon-red">&nbsp;<span>Featured</span></div></div>
            <div class="col-sm-2">
                <a href="details.html" class="thumbnail " ><img alt="176 * 120" src="img/ad.jpg"></a>
            </div>
            <div class="col-sm-10">
                <h3><a class=""  href="details.html">Renault Megane Convertible, 2002, 1.6 Petrol - <strong>&pound;14,350</strong></a></h3>
                <p class="muted">Located in <strong>Richmond, London</strong></p>
                <p class="muted">Posted Feb 05, 2014 to <a href="#" class="underline">Cars, Vans & Motorbikes</a></p>
                <p>Excellent Condition. Displacement: 2,900 cc Power Output: 250 bhp Drivetrain: 2-WD  Second hand car for sale – 7377790212 Available car – beat – blue color, Honda city –white /black Indica ecs – white Alto – white Nano – red /white...</p>
                <p class="ad-description">
                    <strong>2006</strong> | 
                    <strong>98,000 miles</strong> | 
                    <strong>2,696 cc</strong> | 
                    <strong>Diesel</strong>                
                </p>
                <p>
                    <span class="classified_links pull-right">
                        <a class="link-info underline" href="#">Share</a>&nbsp;
                        <a class="link-info underline" href="#">Add to favorites</a>
                        &nbsp;<a class="link-info underline" href="details.html">Details</a>&nbsp;
                        &nbsp;<a class="link-info underline" href="#">Contact</a>
                    </span>
                </p>
            </div>
        </div>
        <!-- first premium ad end -->

        <!-- premium ad -->
        <div class="row premium listing-row">
            <div class="col-sm-2">
                <a href="details.html" class="thumbnail " ><img alt="176 * 120" src="img/ad.jpg"></a>
            </div>
            <div class="col-sm-10">
                <h3><a class=""  href="details.html">Ford Fusion 2 2003 1.4 - <strong>&pound;9,950</strong></a></h3>
                <p class="muted">Located in <strong>Richmond, London</strong></p>
                <p class="muted">Posted Feb 05, 2014 to <a href="#" class="underline">Cars, Vans & Motorbikes</a></p>
                <p>Excellent Condition. Displacement: 2,900 cc Power Output: 250 bhp Drivetrain: 2-WD  Second hand car for sale – 7377790212 Available car – beat – blue color, Honda city –white /black Indica ecs – white Alto – white Nano – red /white...</p>
                <p class="ad-description">
                    <strong>2006</strong> | 
                    <strong>98,000 miles</strong> | 
                    <strong>2,696 cc</strong> | 
                    <strong>Diesel</strong>                
                </p>
                <p>
                    <span class="classified_links pull-right">
                        <a class="link-info underline" href="#">Share</a>&nbsp;
                        <a class="link-info underline" href="#">Add to favorites</a>
                        &nbsp;<a class="link-info underline" href="details.html">Details</a>&nbsp;
                        &nbsp;<a class="link-info underline" href="#">Contact</a></span>
                </p>
            </div>
        </div>
        <!-- premium ad end -->

        <!-- ad1 -->
        <div class="row  listing-row">
            <div class="col-sm-2">
                <a href="details.html" class="thumbnail " ><img alt="176 * 120" src="img/ad.jpg"></a>
            </div>
            <div class="col-sm-10">
                <h3><a class=""  href="details.html">Renault Clio Dynamique 16v 1.2 51 plate - <strong>&pound;5,000</strong></a></h3>
                <p class="muted">Located in <strong>Richmond, London</strong></p>
                <p class="muted">Posted Feb 05, 2014 to <a href="#" class="underline">Cars, Vans & Motorbikes</a></p>
                <p>Excellent Condition. Displacement: 2,900 cc Power Output: 250 bhp Drivetrain: 2-WD  Second hand car for sale – 7377790212 Available car – beat – blue color, Honda city –white /black Indica ecs – white Alto – white Nano – red /white...</p>
                <p class="ad-description">
                    <strong>2006</strong> | 
                    <strong>98,000 miles</strong> | 
                    <strong>2,696 cc</strong> | 
                    <strong>Diesel</strong>                
                </p>
                <p>
                    <span class="classified_links pull-right">
                        <a class="link-info underline" href="#">Share</a>&nbsp;
                        <a class="link-info underline" href="#">Add to favorites</a>
                        &nbsp;<a class="link-info underline" href="details.html">Details</a>&nbsp;
                        &nbsp;<a class="link-info underline" href="#">Contact</a></span>
                </p>
            </div>
        </div>
        <!-- ad1 end -->

        <!-- ad2 -->
        <div class="row  listing-row">
                                <div class="col-sm-2">
                    <a href="details.html" class="thumbnail " ><img alt="176 * 120" src="img/ad.jpg"></a>
                </div>

                <div class="col-sm-10">
                    <h3><a class=""  href="details.html">Mercedes-Benz C Class C220 CDI Avantgarde SE - <strong>&pound;15,000</strong></a></h3>
                    <p class="muted">Located in <strong>Richmond, London</strong></p>
                    <p class="muted">Posted Feb 05, 2014 to <a href="#" class="underline">Cars, Vans & Motorbikes</a></p>
                    <p>Excellent Condition. Displacement: 2,900 cc Power Output: 250 bhp Drivetrain: 2-WD  Second hand car for sale – 7377790212 Available car – beat – blue color, Honda city –white /black Indica ecs – white Alto – white Nano – red /white...</p>
                    <p class="ad-description">
                        <strong>2006</strong> | 

                        <strong>98,000 miles</strong> | 

                        <strong>2,696 cc</strong> | 

                        <strong>Diesel</strong>                
                    </p>
                    <p>
                        <span class="classified_links pull-right">
                            <a class="link-info underline" href="#">Share</a>&nbsp;
                            <a class="link-info underline" href="#">Add to favorites</a>
                            &nbsp;<a class="link-info underline" href="details.html">Details</a>&nbsp;
                            &nbsp;<a class="link-info underline" href="#">Contact</a></span>
                    </p>
                </div>
            </div>
        <!-- ad2 end -->


        <!-- pagination -->
        <div >
            <ul class="pagination pull-right">
                <li><a href="#">First</a></li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li ><a href="#">2</a></li>
                <li ><a href="#">3</a></li>
                <li ><a href="#">4</a></li>
                <li ><a href="#">5</a></li>
                <li class="hidden-xs"><a href="#">6</a></li>
                <li class="hidden-xs"><a href="#">7</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">8</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">9</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">10</a></li>
                <li><a href="#">Last</a></li>
            </ul>
        </div>
        <!-- pagination end -->


    </section>


    <br><br>


    <aside class="col-sm-4">
        
        <!-- car filter -->
        <div class="panel panel-default">
            <div class="panel-heading">Filters</div>
            <div class="panel-body">
                <form class="form-inline mini" style="margin-bottom: 0px;">
                    <fieldset>              
                        <div class="row filter-row">
                            <div class="col-sm-6">
                                <label>Make</label>
                            </div>
                            <div class="col-sm-6">
                                <select class=" form-control ">
                                    <option>Any</option>
                                    <option>Alfa romeo</option>
                                    <option>Houses</option>
                                    <option>Flats/ Apartments</option>
                                    <option>Bungalows</option>
                                    <option>Land</option>
                                    <option>Commercial property</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row filter-row">
                            <div class="col-sm-6">
                                <label>Mileage</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="col-sm-10 form-control ">
                                    <option>Any</option>
                                    <option>Alfa romeo</option>
                                    <option>Houses</option>
                                    <option>Flats/ Apartments</option>
                                    <option>Bungalows</option>
                                    <option>Land</option>
                                    <option>Commercial property</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row filter-row">
                            <div class="col-sm-6">
                                <label>Seller type</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="col-sm-10 form-control ">
                                    <option>Any</option>
                                    <option>Alfa romeo</option>
                                    <option>Houses</option>
                                    <option>Flats/ Apartments</option>
                                    <option>Bungalows</option>
                                    <option>Land</option>
                                    <option>Commercial property</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row filter-row">
                            <div class="col-sm-6">
                                <label>Body type</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="col-sm-10 form-control ">
                                    <option>Any</option>
                                    <option>Alfa romeo</option>
                                    <option>Houses</option>
                                    <option>Flats/ Apartments</option>
                                    <option>Bungalows</option>
                                    <option>Land</option>
                                    <option>Commercial property</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row filter-row">
                            <div class="col-sm-6">
                                <label>Fuel type</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="col-sm-10 form-control ">
                                    <option>Any</option>
                                    <option>Alfa romeo</option>
                                    <option>Houses</option>
                                    <option>Flats/ Apartments</option>
                                    <option>Bungalows</option>
                                    <option>Land</option>
                                    <option>Commercial property</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row filter-row">
                            <div class="col-sm-6">
                                <label>Age</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="col-sm-10 form-control ">
                                    <option>Any</option>
                                    <option>Alfa romeo</option>
                                    <option>Houses</option>
                                    <option>Flats/ Apartments</option>
                                    <option>Bungalows</option>
                                    <option>Land</option>
                                    <option>Commercial property</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row filter-row">
                            <div class="col-sm-12">
                                <label>Price range</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="email" class="form-control price-input" placeholder="min" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="email" class="form-control price-input" placeholder="max" />
                                </div>
                            </div>
                        </div>
                        <div class="row filter-row">
                            <div class="col-sm-12">
                                <label>Search only:</label>
                            </div>
                            <div class="col-sm-12">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" value="option1" checked>
                                        Urgent ads
                                    </label>
                                </div><br />
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" value="option2">
                                        Featured ads
                                    </label>
                                </div><br />
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" value="option2">
                                        Only ads with pictures
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row filter-row">    
                            <div class="col-sm-2 pull-right" style="margin-top: 10px;">
                                <button class="btn btn-primary pull-right" type="submit">Update results</button>
                            </div>
                        </div>                      
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- car filter end -->

        <!-- category filter -->
        <div class="panel panel-default">
            <div class="panel-heading">Refine category</div>
            
            <div class="panel-body">
                <ul class="nav nav-category">
                    <li>
                        <a class="active" href="category.html">All categories</a>
                        <ul>
                            <li><a href="listings.html">Cars, Vans & Motorbikes</a>
                            <ul>
                                <li><a class="active" href="listings.html">Cars</a>
                                    <ul>
                                        <li><a class="active" href="listings.html">
                                            <strong>Porsche</strong></a> (66)
                                            <a href="#" class="remove-category"><i class="fa fa-times"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                                </li>
                        </ul>
                    </li>
                </ul>               
            </div>
        </div>
        <!-- category filter end -->


    </aside>




</div>		

</main>


<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-4 col-xs-12">
                <p><strong>&copy; Find-Ads.com</strong></p>
                <p>Classifed Ads Web Spider</p>
            </div>          

            <div class="col-sm-8 col-xs-12">
                <p class="footer-links">
                    <a href="#">Services</a>
                    <a href="#">Terms of Use</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Contact Us</a>
                </p>
            </div>

        </div>
    </div>
</footer>
<!-- footer end -->

</body>
</html>