<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Web crawler admin">
<meta name="keywords" content="crawler, spider, scrapper, admin">
<meta name="author" content="AdAm">

<title>Admin</title>

<!-- Bootstrap Core CSS -->
<link href="/themes/admin-sb/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/themes/admin-sb/css/sb-admin.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/themes/admin-sb/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Admin CSS -->
<link href="/stylesheets/admin.css" rel="stylesheet">

<!-- jQuery -->
<script src="/themes/admin-sb/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/themes/admin-sb/js/bootstrap.min.js"></script>