<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    
                    <li>
                        <a href="/admin/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>

                    <li>
                        <a href="/admin/categories"><i class="fa fa-fw fa-folder-open-o"></i> Categories</a>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#tasks"><i class="fa fa-fw fa-clock-o"></i> Crawl Links<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="tasks" class="collapse">
                            <li>
                                <a href="/admin/crawllinks/tasks">Crawling Tasks (links)</a>
                            </li>
                            <li>
                                <a href="/admin/crawllinks/results">Crawling Results (links)</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#crawl_links"><i class="fa fa-fw fa-cogs"></i> Crawl Content<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="crawl_links" class="collapse">
                            <li>
                                <a href="/admin/crawl/links">Crawling Tasks (content)</a>
                            </li>
                            <li>
                                <a href="/admin/crawl/content">Crawling Results (content)</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#ads"><i class="fa fa-fw fa-file"></i> Content by categories<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="ads" class="collapse">
                            <li>
                                <a href="/admin/ads/all/1">All</a>
                            </li>
                            <li>
                                <a href="/admin/ads/auto/1">Auto</a>
                            </li>
                            <li>
                                <a href="/admin/ads/jobs/1">Jobs</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>

                    <li>
                        <a href="tables"><i class="fa fa-fw fa-table"></i> Tables</a>
                    </li>

                    <li>
                        <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
                    </li>

                    <li>
                        <a href="bootstrap-grid.html"><i class="fa fa-fw fa-cog"></i> Settings</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->