<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

	<a href="/mdbfind">Show results (users)!</a>
    <br><a href="/mdbinsert">Insert new user!</a>
    <br>


      <h2>Admin</h2>
  <br><a href="/admin">Admin area</a>
  <br><a href="/admin/dashboard">Dashboard</a>
  </body>


</html>