body {
	background-color: #fff !important;
	padding-bottom: 50px;
}

table tr > th {
	background-color:#777777;
	color: #f0f0f0;
	text-align: center;
}

a.fa {
	color: #FC7F07;
	margin-left:10px;
}
a.fa:hover {
	color: #028504;
}

.crawl-start {
	font-size: larger;
}

iframe.crawl-console {
	width: 70%;
	height: 400px;
	z-index:100;
	display:block;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	background-color: #f0f0f0;
}

/* lightbox */
.lightbox .close {
	font-size: 24px;
	font-weight: bold;
	color: #000;
	float: right;
	opacity: 1;
	z-index: 20001;
}