body {
	background-color: #fff !important;
	padding-bottom: 50px;
}

table tr > th {
	background-color:#777777;
	color: #f0f0f0;
	text-align: center;
}

a.fa {
	color: #FC7F07;
	margin-left:10px;
}
a.fa:hover {
	color: #028504;
}

.crawl-start {
	font-size: larger;
}

iframe.crawl-console {
	width: 70%;
	height: 400px;
	z-index:100;
	display:block;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	background-color: #f0f0f0;
}



/* lightbox */
.lightbox {
	background-color: rgba(100,100,100,0.95);
  border: 5px solid #E0DEDC;
  z-index: 20000;
  padding: 20px !important;
  margin-top: 50px;
  padding: 20px;
}
.lightbox .close {
	font-size: 24px;
	color: #f0f0f0;
	float: right;
}
.lightbox .close:hover {
	color: #eee;
}
.lightbox form label:not(.remSel) {
	color: #f0f0f0;
	opacity: 1;
}
.lightbox #linkResults > a {
	color: #6FC5FF;
	opacity: 1;
	margin-top: 5px;
}
.lightbox #linkResults > a:hover {
	color: #C8E8FF;
}




/* remove selector's name=value pair */
.remSel {
	color: #FD5D5D;
	cursor: pointer;
}
.remSel:hover {
	color: #FF0B0B;
}