.add-bkg { 
  background: url('../images/bkg-livada2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#homepage-title {
	font-family: 'Rationale', sans-serif;
	font-size: 72px;
	margin-top: 100px;
	color: #FFC017;
}

h1,h2,h3 {
	font-family: sans-serif;
}


/* Search result listings */
.list-group-item.izlist {
	margin-top: 8px;
	min-height: 100px;
}
.list-group-item.izlist:hover {
	background-color: #eee;
}
.list-group-item.izlist > span {
	color: #0A7116;
	font:11px Verdana;
	margin-left:10px;
}
.list-group-item.izlist > img {
	height: 70px;
	float: right;
	margin: 5px;
	border: 1px solid #ccc;
}
.list-group-item.izlist-header {
	margin-bottom: 28px;
	background-color: #DFEDF4;
	border-bottom:1px solid #195F82;
	font: 14px Arial;
}
.list-group-item.izlist-header>span {
	float:right;
}
.list-group-item.izlist-header>b {
	color: #D208E9;
}


/* lightbox */
.lightbox {
	background-color: rgba(200,200,100,0.65);
  border: 5px solid #E0DEDC;
  z-index: 20000;
  padding: 20px !important;
  margin-top: 50px;
  padding: 20px;
}
.lightbox .lightbox-close {
	font-size: 24px;
	color: #f0f0f0;
	float: right;
}
.lightbox .lightbox-close:hover {
	color: #eee;
	cursor: pointer;
}
.lightbox iframe {
	width: 70%;
	height: 500px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	background-color: #ccc;
	color: #f0f0f0;
	border: 5px solid #E0DEDC;
	overflow: scroll;
}
.lightbox h3,h4 {
	opacity: 1;
	color: #222;
}
.lightbox h4>small, h3>small {
	opacity: 1;
	color: #ddd;
}



/* search and browse */
.searchTerms_box {
	background-color: rgba(200,100,100,0.65);
	padding: 15px 25px;
	border: 1px solid #ccc;
}
.searchTerms_box > a {
	color: brown;
}

.badge {
	background-color: Silver !important;
}

.filter > h2 {
	color: #2A8AF3;
	text-transform: capitalize;
	text-shadow: 2px 2px #999;
}