body { 
  background: url('../images/bkg-livada.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#homepage-title {
	font-family: 'Rationale', sans-serif;
	font-size: 72px;
	margin-top: 100px;
	color: #FFC017;
}