  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!--[if lt IE 9]>
      <script src="/javascriptss/ie/html5shiv.min.js"></script>
      <script src="/javascriptss/ie/respond.min.js"></script>
    <![endif]-->
  <title><%= title %></title>
  <meta name="description" content="<%= desc %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="author" content="AdAm">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <link rel="icon" href="/themes/img/favicon.ico" type="image/ico">

  <!-- bootstrap --> 
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/themes/bootlistings/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/themes/bootlistings/css/bootstrap-theme.css">

  <!-- jquery must be loaded before bootstrap.min.js --> 
  <script src="/javascripts/jquery/sys/1.11.1/jquery.min.js"></script>
  <script src="/themes/bootlistings/js/bootstrap.js"></script>
  <script src="/themes/bootlistings/js/bootstrap-tab.js"></script>

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="/themes/bootlistings/css/findads.css">

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-58065422-7', 'auto');
  ga('send', 'pageview');
  </script>