<header class="container">

    <!-- top navbar -->
    <nav class="navbar navbar-default" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/" class="navbar-brand">
                    <img src="/themes/bootlistings/img/find-ads-spider.png" alt="Find Ads Bot" width="120" height="60" class="img-responsive hidden-xs">
                    <span>
                        <strong>find - ads</strong>
                        <br><small class="hidden-xs">My cute spider collect ads for you !</small>
                    </span>
                </a>

            </div>

            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right visible-xs">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="http://www.adsuu.com/advert/post.php" target="_blank">Post Free Ads</a></li>
                </ul>

                <div class="nav navbar-nav navbar-right hidden-xs">
                    <div class="row">
                        <div class="pull-right">
                            <a href="/">Home</a> &middot;
                            <a href="#">Search</a> &middot;
                            <a href="#">Categories</a> &middot;
                            <a href="#">Services</a> &middot;
                            <a href="#">Submit URL</a> &middot;
                            <a href="http://www.adsuu.com/advert/post.php" target="_blank">Post Free Ads</a>
                        </div>  
                    </div>
                </div>

            </div>

    </nav>
    <!-- top navbar end -->

</header>