<!-- top ads -->
<div class="row">
    <section class="col-sm-12 listings">
        
        <!-- first premium ad -->
        <div class="row premium listing-row">                                                                            
            <div class="ribbon-wrapper-red"><div class="ribbon-red">&nbsp;<span>Top Ads</span></div></div>
            <div class="col-sm-2">
                <a href="details.html" class="thumbnail" ><img alt="Lenovo" src="/images/topad-lenovo.jpg"></a>
            </div>
            <div class="col-sm-10">
                <h3><a class=""  href="details.html">Lenovo Used Laptop - <strong>&pound;2,350</strong></a></h3>
                <p class="muted">Located in <strong>New York, USA</strong></p>
                <p class="muted">Posted Feb 05, 2015 to <span href="#" class="underline">Electronics &raquo; Laptops</span></p>
                <p>Good condition used laptop - Lenovo i5 processor for Sale Buy second hand Lenovo e520 laptop only for Rs. 18,500 Model: Lenovo e520 Specifications: 320 GB HardDisk WiFis DVD Web Cam Windows 7 OS Intel Core i5 2nd Gen Processor
                </p>
                <p class="ad-description">
                    <strong>2012</strong> | 
                    <strong>320 GB</strong> |               
                    <strong>4 GB RAM</strong> |               
                </p>
                <p>
                    <span class="classified_links pull-right">
                        <a class="link-info underline" href="/services/topads">Post your Top Ad here !</a>
                    </span>
                </p>
            </div>
        </div>
        <!-- first premium ad end -->

        

    </section>
</div>
<!-- top ads end -->

<div class="clearfix">&nbsp;</div><br><br>