<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-4 col-xs-12">
                <p><strong>&copy; Find-Ads.com</strong></p>
                <p>Classifed Ads Web Spider</p>
            </div>          

            <div class="col-sm-8 col-xs-12">
                <p class="footer-links">
                    <a href="#">Services</a>
                    <a href="#">Terms of Use</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Contact Us</a>
                </p>
            </div>

        </div>
    </div>
</footer>
<!-- footer end -->