<%- include('../partials/01head'); -%>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <%- include('../partials/05top_menu'); -%>
            <%- include('../partials/10left_menu'); -%>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Tasks <small>Links</small>
                        </h1>
                        
                        <ol class="breadcrumb">
                          <li>Tasks</li>
                          <li><a href="/admin/tasks/links">Links</a></li>
                        </ol>

                        <br><br>
                        Define tasks for extracting content links and cron job interval for those tasks.
                        
                        <br><br>
                        Group of tasks:
                        <ol>
                            <li><a href="/admin/tasks/links/iterateurl">Iterate by URL</a> - iterate throught group of pagination URLs</li>
                            <li><a href="/admin/tasks/links/clickselector">Click on pagination</a> - simulate click on pagination link</li>
                            <li><a href="/admin/tasks/links/custom">Custom scripts (plugins)</a> - create custom CasperJS script</li>
                        </ol>

                    </div>
                </div>
                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <%- include('../partials/15js_static'); -%>

<script>

$(document).ready(function(){
 //$("input[name='first_name']").focus();
 $("*").tooltip();

});
</script>
</body>

</html>
