<!DOCTYPE HTML>
<html lang="hr">
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="AdAm">
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">

<style>
div {
    color:red;
}
</style>
</head>

<body>

<h1><%= title %></h1>

<p><%= p %></p>

</body>
</html>
