<%- include('0partials/01head'); -%>

<body> 

<%- include('0partials/05header'); -%>



<main>

  
<div class="col-sm-4 col-sm-offset-4 title-header">
  <h1 id="homepage-title"><%= h1 %></h1>
</div>

<div class="col-sm-10 col-sm-push-1">
   	<form action="#" method="GET" enctype="application/x-www-form-urlencoded" class="form">
      
      <div class="input-group">
				<input type="text" class="form-control input-lg" id="q" name="q" value="" placeholder="enter search query">
				<span class="input-group-btn">
  				<button class="btn btn-success btn-lg" type="submit"><span id="btn-txt">Go!</span></button>
				</span>
		  </div>

  	</form>
</div>

</main>




<script>
//blink effect
setInterval(function () {
  $('#btn-txt').show();
  $('#btn-txt').fadeIn(800, function () {
    $(this).fadeOut(1300);
  });
}, 1300);

//input field focus
$('#q').focus();
</script>

<script>
//add background body
$(document).ready(function () {
  setTimeout(function () {
    $('body').hide();
    $('body').fadeIn(1000, function () {
      $('body').addClass('add-bkg');
    });
  }, 3000);
});
</script>


</body> 
</html>